{% extends 'base.html' %}

{% load static %}

{% block content %} 

<div class="container">
    <div class="row my-3">
        <div class="col-md-4 mx-auto">
            <div class="card bg-dark text-light">
                <div class="card-header">
                    <h3 class="h3">Sign In</h3>
                </div>
                <div class="card-body">

                    {% if messages %}
                        {% for message in messages %}
                            <p class="{{message.tags}}">{{message}}</p>     <!--tags can be error, warning, success, info, debug (refer to documentation: https://docs.djangoproject.com/en/4.0/ref/contrib/messages/)-->
                        {% endfor %}
                    {% endif %}

                    <form action="{% url 'signin' %}" method="post" onsubmit="return validate();">
                        {% csrf_token %}    <!--if we donot write this a error page will be generated after we click on sign up button-->
                        

                        <div class="mb-1">
                            <label for="username">SIC</label>
                            <input type="text" name="username" id="username" class="form-control">
                            <label for="sic error" id="sic_error" class="text-danger"></label>
                        </div>

                        

                        <div class="mb-1">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control">
                            <label for="password error" id="password_error" class="text-danger"></label>
                        </div>

                        

                        <input type="submit" class="btn btn-primary" value="Sign In">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


<!-- for javascript validation file -->
{% block extrajs %}
<script src="{% static 'js/signin-validator.js' %}"></script>
{% endblock extrajs %}